@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.App {
  text-align: center;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

#particles {
  position: absolute;
}

.my-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0,0,0, 0.0);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0px;
  max-width: 80%;
}

.my-container-blank {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.0);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}

.shell{
  background-color: #282c34;
  padding: 4px 25px;
  color: #eee;
  border-radius: 8px;
  font-weight: 100;
}

.tagline {
  font-size: 1.5rem;
  margin: 0.8rem;
  font-weight: 200;
  text-align: center;
}

.tagline-small {
  font-size: 1.2rem;
  margin: 0.6rem;
  font-weight: 200;
  text-align: center;
}

.intro {
  font-family: "Roboto", sans-serif;
  font-size: 2.75em;
  font-weight: bold;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.change-mode {
  position: absolute;
  top: 25px;
  right: 25px;
}

.icons-social i {
  padding: 10px;
  font-size: 2em;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

/* Daylight CSS */

.daylight .App-main {
  color: white;
}

.daylight .change-mode:before {
  color: yellow;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: '\f185';
}

.daylight .icons-social a {
  color: #fafafa;
}

.daylight .icons-social a svg path {
  fill: #fafafa;
}

/* Nightlight CSS */

.nightlight .App-main {
  background-color: #fafafa;
  color: #000;
}

.nightlight .change-mode:before {
  color: black;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: '\f186';
}

.nightlight .icons-social a {
  color: #000;
}

.nightlight .icons-social a svg path {
  fill: #000;
}

/* Custom CSS Start From Here */

/* day CSS */

.day .App-main {
  background-color: #282c34;
  color: white;
}

.day .icons-social a {
  color: #fafafa;
}

.day .icons-social a svg path {
  fill: #fafafa;
}

/* night CSS */

.night .App-main {
  background-color: #fafafa;
  color: #000;
}

.night .icons-social a {
  color: #000;
}

.night .icons-social a svg path {
  fill: #000;
}

/* Dark Colors CSS */

/* terminal CSS */

.terminal .App-main {
  background-color: #1565c0;
  color: #ffeb3b;
}

.terminal .icons-social a {
  color: #ffeb3b;
}

.terminal .icons-social a svg path {
  fill: #ffeb3b;
}

/* torquoise CSS */

.torquoise .App-main {
  background-color: #1abc9c;
  color: #fff;
}

.torquoise .icons-social a {
  color: #fff;
}

.torquoise .icons-social a svg path {
  fill: #fff;
}

/* peterriver CSS */

.peterriver .App-main {
  background-color: #3498db;
  color: #fff;
}

.peterriver .icons-social a {
  color: #fff;
}

.peterriver .icons-social a svg path {
  fill: #fff;
}

/* amythyst CSS */

.amythyst .App-main {
  background-color: #9b59b6;
  color: #fff;
}

.amythyst .icons-social a {
  color: #fff;
}

.amythyst .icons-social a svg path {
  fill: #fff;
}

/* carrot CSS */

.carrot .App-main {
  background-color: #e67e22;
  color: #fff;
}

.carrot .icons-social a {
  color: #fff;
}

.carrot .icons-social a svg path {
  fill: #fff;
}

/* alizarin CSS */

.alizarin .App-main {
  background-color: #e74c3c;
  color: #fff;
}

.alizarin .icons-social a {
  color: #fff;
}

.alizarin .icons-social a svg path {
  fill: #fff;
}

/* Light Colors CSS */

/* lightred CSS */

.lightred .App-main {
  background-color: #ffcdd2;
  color: #000;
}

.lightred .icons-social a {
  color: #000;
}

.lightred .icons-social a svg path {
  fill: #000;
}

/* lightpurple CSS */

.lightpurple .App-main {
  background-color: #e1bee7;
  color: #000;
}

.lightpurple .icons-social a {
  color: #000;
}

.lightpurple .icons-social a svg path {
  fill: #000;
}

/* lightgreen CSS */

.lightgreen .App-main {
  background-color: #c8e6c9;
  color: #000;
}

.lightgreen .icons-social a {
  color: #000;
}

.lightgreen .icons-social a svg path {
  fill: #000;
}

/* lightblue CSS */

.lightblue .App-main {
  background-color: #b3e5fc;
  color: #000;
}

.lightblue .icons-social a {
  color: #000;
}

.lightblue .icons-social a svg path {
  fill: #000;
}

/* lightyellow CSS */

.lightyellow .App-main {
  background-color: #fff9c4;
  color: #000;
}

.lightyellow .icons-social a {
  color: #000;
}

.lightyellow .icons-social a svg path {
  fill: #000;
}

/* Gradient background */

.gradient {
  width: 100wh;
  height: 100vh;
  color: #fff;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.gradient .App-main {
  color: #fff;
}

.gradient .icons-social a {
  color: #fff;
}

.gradient .icons-social a svg path {
  fill: #fff;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Full Page Background Image CSS */

.full-bg-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-bg-image .App-main {
  color: #fff;
}

.full-bg-image .icons-social a {
  color: #fff;
}

.full-bg-image .icons-social a svg path {
  fill: #fff;
}

body {
  font-family: "Roboto", sans-serif;
}



.my-button-container {
  display: flex;
  justify-content: center;
}

.my-button-container .aws-btn {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

@media (max-width: 600px) {
  .my-button-container {
    flex-direction: column;
    align-items: center;
  }

  .my-button-container .aws-btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.aws-btn {
  --button-default-height: 76px;
  --button-default-font-size: 21px;
  --button-default-border-radius: 10px;
  --button-horizontal-padding: 36px;
  --button-raise-level: 8px;
  --button-hover-pressure: 4;
  --transform-speed: 0.25s;
}

.aws-btn.green {
  --button-primary-color: #19c37d;
  --button-primary-color-dark: #14935e;
  --button-primary-color-light: black;
  --button-primary-color-hover: #11e18a;
  --button-primary-color-active: #19c37d;
  --button-primary-border: 2px solid #19c37d;
}

.aws-btn.gray {
  --button-primary-color: #848289;
  --button-primary-color-dark: #5e5d62;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #77757c;
  --button-primary-color-active: #6b696f;
  --button-primary-border: none;
}

.aws-btn.purple {
  --button-primary-color: #6678c5;
  --button-primary-color-dark: #3d50a1;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #5468be;
  --button-primary-color-active: #4459b4;
  --button-primary-border: none;
}


.aws-btn.pink {
  --button-primary-color: #eba0bd;
  --button-primary-color-dark: #de6191;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #e998b7;
  --button-primary-color-active: #e78bae;
  --button-primary-border: none;

}

.aws-btn.black {
  --button-primary-color: #fbfbfb;
  --button-primary-color-dark: #3a3a3a;
  --button-primary-color-light: #3a3a3a;
  --button-primary-color-hover: #eeeeee;
  --button-primary-color-active: #e2e2e2;
  --button-primary-border: none;
}

.aws-btn.gold {
  --button-primary-color: #fffc6c;
  --button-primary-color-dark: #b9b500;
  --button-primary-color-light: #6c6a00;
  --button-primary-color-hover: #fffb3e;
  --button-primary-color-active: #e6e100;
  --button-primary-border: none;
}

.aws-btn.red {
  --button-primary-color: #ff6c6c;
  --button-primary-color-dark: #b90000;
  --button-primary-color-light: white;
  --button-primary-color-hover: #ff3e3e;
  --button-primary-color-active: #e10000;
  --button-primary-border: none;
}


.aws-btn.small {
  --button-default-height: 40px;
  --button-default-font-size: 1px;
  --button-default-border-radius: 10px;
  --button-horizontal-padding: 7px;
  --button-primary-color: #fffc6c;
  --button-primary-color-dark: #b9b500;
  --button-primary-color-light: #6c6a00;
  --button-primary-color-hover: #fffb3e;
  --button-primary-color-active: #e6e100;
  --button-primary-border: none;
}


.overlay-content {
  position: relative;
  z-index: 1;
}


.sample-enter {
  opacity: 0;
}

.sample-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.sample-exit {
  opacity: 1;
}

.sample-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.sample-enter-done {
  opacity: 1;
}

.sample-exit-done {
  opacity: 0;
}

.slow-slide-fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slow-slide-fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in, transform 750ms ease-in;
}

.slow-slide-fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.slow-slide-fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms ease-in, transform 750ms ease-in;
}

.slow-slide-fade-enter-done {
  opacity: 1;
  transform: translateX(0);
}

.slow-slide-fade-exit-done {
  opacity: 0;
  transform: translateX(100%);
}

.cool-slow-fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.cool-slow-fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.cool-slow-fade-exit {
  opacity: 1;
  transform: scale(1);
}

.cool-slow-fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.cool-slow-fade-enter-done {
  opacity: 1;
  transform: scale(1);
}

.cool-slow-fade-exit-done {
  opacity: 0;
  transform: scale(0.9);
}

.almost-fade-out-enter {
  opacity: 0;
  transform: scale(0.9);
}

.almost-fade-out-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.almost-fade-out-exit {
  opacity: 1;
  transform: scale(1);
}

.almost-fade-out-exit-active {
  opacity: 0.1;
  transform: scale(0.9);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.almost-fade-out-enter-done {
  opacity: 1;
  transform: scale(1);
}

.almost-fade-out-exit-done {
  opacity: 0.1;
  transform: scale(0.9);
}

